@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    CodeConcept Sp. z o.o.<br />
    Toszecka 101,<br /> 
    44-100 Gliwice<br />
    Poland<br />
    <abbr title="Phone">P:</abbr>
    +48 32 230 02 90
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">support@codeconcept.pl</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">marketing@codeconcept.pl</a>
</address>